<!DOCTYPE html>
<title>{% block title %}{% endblock %} - blogi</title>
<div class="topnav">
	<a href="{{ url_for('index') }}">latest</a>
	<a href="{{ url_for('authors') }}">authors</a>
	<a href="{{ url_for('tags') }}">tags</a>
	{% if session.username %}
	<a href="{{ url_for('login') }}">{{ session.username }}</a>
	<a href="{{ url_for('logout') }}">logout</a>
	{% else %}
	<a href="{{ url_for('login') }}">login</a>
	<a href="{{ url_for('register') }}">register</a>
	{% endif %}
</div>
<div class="body">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</div>
